#{extends 'main.html' /}
#{set title:'Home' /}



<!-- Main hero unit for a primary marketing message or call to action -->
<div class="content">

    <h2></h2>

    <table border="1">
        <tr>
            <th>Standardized Name</th>
            <th>Alternate Names</th>
            <th>Types</th>
            <th>Also Located In</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        #{list items:displayPlaces, as: 'displayPlace'}
            <tr>
                <td>${displayPlace.fullName}</td>
                <td>${displayPlace.altNames}</td>
                <td>${displayPlace.types}</td>
                <td>${displayPlace.alsoLocatedIn}</td>
                <td>${displayPlace.latitude}</td>
                <td>${displayPlace.longitude}</td>
            </tr>
        #{/list}

    </table>

</div>

<p></p>
<p></p>
