#{extends 'main.html' /}
#{set title:'Home' /}

<div class="content">

    <h2>Search for a place</h2>

    #{form @searchForPlace()}
        <input type="text" name="place" id="place">
        <input type="submit" class="btn primary" name="submit" value="Go">
    #{/form}


    <table id="result">
        <tr>
            <th>Standard name</th>
            <th>Alternate names</th>
            <th>Type</th>
            <th>Also located in</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Sources</th>
        </tr>
        #{list items:displayPlaces, as: 'displayPlace'}
            <tr>
                <td><a href="${displayPlace.link}">${displayPlace.fullName}</a></td>
                <td>#{list items:displayPlace.altNames, as: 'altName'}
                   ${altName.altName} #{if altName.source}<i>(${altName.source})</i>#{/if}<br>
                #{/list}</td>
                <td>${displayPlace.types}</td>
                <td>${displayPlace.alsoLocatedIn}</td>
                <td>${displayPlace.latitude}</td>
                <td>${displayPlace.longitude}</td>
                <td>#{list items:displayPlace.sources, as: 'source'}
                   <a href="${source.link}">${source.source}</a><br>
                #{/list}</td>
            </tr>
        #{/list}

    </table>

</div>

